.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    background-color: rgb(242, 182, 234);

    .left-side {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: space-around;

        div {
            cursor: pointer;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: bold;
            color: purple;
        }
    }

    .right-side {
        cursor: pointer;
        margin-right: 30px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: purple;
        width: 90px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


