.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 500px;

    .page {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    
    .status-online, .status-offline {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .status-offline {
        background-color: red;
    }

    .status-online {
        background-color: green;
    }
}

